body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1556804335-2fa563e93aae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: 	#FF1493;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  align-items: center;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: 	#FFB6C1;
}

.green {
  background-color: 	#90EE90;
}

.blue {
  background-color: #87CEFA;
}

.yellow {
  background-color: 	#FFFF00;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

img{
  width: 150px;
  height:150px;
}
